{{ partial "header.html" . }}

<div class="flex flex-1 w-full">
  {{ partial "sidebar.html" . }}

  <section class="flex-1 p-10 font-mono text-green-400">
    <article class="max-w-3xl">
      <h1 class="text-3xl font-bold mb-4">
        {{ .Title }}
      </h1>

      {{ if not .Params.hideDate }}
        <p class="text-sm mb-6 opacity-60">
      {{ .Date.Format "Jan 2, 2006" }}
      </p>
      {{ end }}


      <hr class="border-green-500 mb-6">

      <div class="prose prose-invert max-w-none prose-headings:text-green-400 prose-a:text-green-300">
        {{ .Content }}
      </div>
    </article>
  </section>
</div>

{{ partial "footer.html" . }}
