<header class="bg-slate-950 shadow-md border-green-500 border-1">
   <div class="w-full max-w-none mx-0 flex items-center justify-between p-4">
    <a href="{{ "/" | relURL }}" class="text-xl font-mono text-green-500 hover:text-white">
      {{ .Site.Title }}
    </a>

    <nav class="hidden md:flex space-x-6 text-green-500 font-mono">
      <a href="{{ "/" | relURL }}" class="hover:text-white">Home</a>
      <a href="{{ "/posts/" | relURL }}" class="hover:text-white">Blog</a>
      <a href="{{ "/about/" | relURL }}" class="hover:text-white">About</a>
      <a href="{{ "/contact/" | relURL }}" class="hover:text-white">Contact</a>
    </nav>

    <div class="md:hidden">
      <button class="text-gray-600 focus:outline-none" type="button" aria-label="Open menu">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>
</header>
