<header class="sticky top-0 z-40 bg-slate-950 shadow-md border-b border-green-500">
   <div class="w-full max-w-none mx-0 flex items-center justify-between p-4">
    <a href="{{ "/" | relURL }}" title="J.P. Ramackers" class="inline-block border border-green-500 rounded px-2 py-1 text-xl font-mono text-green-500 hover:text-white hover:bg-green-500">
      {{ .Site.Title }}
    </a>

    <nav class="hidden md:flex space-x-6 text-green-500 font-mono">
      <a href="{{ "/" | relURL }}" class="hover:text-white">Home</a>
      <a href="{{ "/posts/" | relURL }}" class="hover:text-white">Blog</a>
      <a href="{{ "/about/" | relURL }}" class="hover:text-white">About</a>
      <a href="{{ "/contact/" | relURL }}" class="hover:text-white">Contact</a>
    </nav>

  <nav id="mobile-menu" class="hidden flex flex-col space-y-4 p-4 md:hidden text-green-500">
    <a href="{{ "/" | relURL }}">Home</a>
    <a href="{{ "/posts/" | relURL }}">Blog</a>
    <a href="{{ "/about/" | relURL }}">About</a>
    <a href="{{ "/contact/" | relURL }}">Contact</a>
  </nav>

  

    <div class="md:hidden">
      <button class="text-gray-600 focus:outline-none" type="button" aria-label="Open menu">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </div>

  <script>
  const button = document.querySelector('[aria-label="Open menu"]');
  const menu = document.getElementById('mobile-menu');

  button.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>
</header>
