<aside class="w-64 border-r border-green-500 p-6 font-mono text-green-400 bg-slate-950">
  <img src="/images/profile.jpg"
       class="w-24 h-24 mb-4 border border-green-500">

  <h2 class="font-bold mb-4">{{ .Site.Title }}</h2>

  <nav class="flex flex-col space-y-2">
    <a href="/" class="hover:text-green-300">&gt; Home</a>
    <a href="/about/" class="hover:text-green-300">&gt; Who am I?</a>
    <a href="/contact/" class="hover:text-green-300">&gt; Contact</a>

  <div class="mt-4 space-y-2">
    <a href="https://x.com/jpramackers2025" target="_blank" class="flex items-center gap-4 hover:text-green-300">
    <img src="/images/x.png" alt="X" width="24" height="24">
    <span>X</span>
  </a>

  <a href="https://git.jpramackers.nl" target="_blank" class="flex items-center gap-4 hover:text-green-300">
    <img src="/images/git.png" alt="Git" width="24" height="24">
    <span>Git</span>
  </a>

  <a href="https://www.facebook.com/profile.php?id=61588004137578" target="_blank" class="flex items-center gap-4 hover:text-green-300">
    <img src="/images/facebook.png" alt="Facebook" width="24" height="24">
    <span>Facebook</span>
  </a>
</div>  </nav>
</aside>
